/* Basic editor styles */
.tiptap {
  .is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: theme('colors.zinc.400');
    pointer-events: none;
  }

  > * + * {
    margin-top: 0.75em;
  }

  h1 {
    font-size: theme('fontSize.4xl');
    line-height: theme('fontSize.4xl[1].lineHeight');
    font-weight: theme('fontWeight.extrabold');
  }

  h2 {
    font-size: theme('fontSize.3xl');
    line-height: theme('fontSize.3xl[1].lineHeight');
    font-weight: theme('fontWeight.bold');
  }

  h3 {
    font-size: theme('fontSize.2xl');
    line-height: theme('fontSize.2xl[1].lineHeight');
    font-weight: theme('fontWeight.bold');
  }

  h4 {
    font-size: theme('fontSize.xl');
    line-height: theme('fontSize.xl[1].lineHeight');
    font-weight: theme('fontWeight.semibold');
  }

  h5 {
    font-size: theme('fontSize.lg');
    line-height: theme('fontSize.lg[1].lineHeight');
    font-weight: theme('fontWeight.semibold');
  }

  h6 {
    font-size: theme('fontSize.base');
    line-height: theme('fontSize.base[1].lineHeight');
    font-weight: theme('fontWeight.medium');
  }

  p {
    font-size: theme('fontSize.sm');
    line-height: theme('fontSize.sm[1].lineHeight');
  }

  strong {
    font-weight: theme('fontWeight.bold');
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline solid theme('colors.black');
  }

  s {
    text-decoration: line-through solid theme('colors.black');
  }

  mark {
    background-color: theme('colors.yellow.300');
  }

  table {
    border-collapse: unset;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      position: relative;
      min-width: 1em;
      padding: theme('padding[1.5]');
      border: 1px solid theme('borderColor.DEFAULT');
      border-radius: theme('borderRadius.DEFAULT');
    }

    th {
      background-color: theme('backgroundColor.zinc.200');
      text-align: center;
      font-weight: bold;
    }
  }

  ul,
  ol {
    list-style-type: revert;
    padding-inline: 1rem;
  }

  a {
    color: theme('colors.blue.500');
    text-decoration: underline solid theme('colors.blue.500');
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: theme('colors.zinc.100');
    border-radius: theme('borderRadius.DEFAULT');
    padding: theme('padding.3') theme('padding.4');

    code {
      background: none;
      color: inherit;
      font-size: theme('fontSize.xs');
      line-height: theme('fontSize.xs[1].lineHeight');
      padding: 0;
    }
  }
}
